<div class="container" *ngIf="loaded">

  <div class="row" style="margin-top: 20px">
    <div class="col-md-6">
      <h4>Main Domain PDD <small style="font-size: 50%;">(required to get Domains Status)</small></h4>
    </div>
    <div class="col-md-6">
      <form [formGroup]="mainDomainPDDForm">
        <div class="form-row">
          <div class="form-group col-md-12">
            <input type="text" class="form-control" id="domainname" formControlName="mainDomainPDD" placeholder="Main Domain PDD">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row md-top">
    <div class="col-md-8">
      <h2>Yandex Users Setup</h2>
      <p>You can get PDD Token for each created domain by <a href="https://pddimp.yandex.ru/api2/admin/get_token" target="_blank">Clicking here</a></p>
      <p>please fill PDD Tokens for created Subdomains in the inputs below</p>
    </div>
    <div class="col-md-4">
      <button style="float: right;" (click)="exportExistingUsers()" type="button" class="btn btn-primary">Export Existing Users</button>
    </div>
    <div class="col-md-12">
      <form class="row" [formGroup]="yandexEmailsForm" (ngSubmit)="yandexEmailsSubmit()">
        <div class="col-md-12">
          <div class="row"  style="max-height: 400px; overflow-y: scroll;">
            <div class="col-md-12" *ngFor="let subdomain of generatedSubdomains; let i = index">
              <div class="row">
                <div class="col-md-4">
                  <p>PDD Key for : {{subdomain}}</p>
                </div>
                <div class="col-md-6" *ngIf="true || domainsStatus[subdomain] && !domainsStatus[subdomain].isverified">
                  <input type="text" class="form-control" id="subdomaincount" name="{{subdomain}}" [formControlName]="subdomain" placeholder="PDD Tokens">
                </div>
                <div class="col-md-2 text-right">
                  <p style="color: grey" *ngIf="!gotDomainList && !domainsStatus[subdomain]">No Data</p>
                  <p style="color: red" *ngIf="gotDomainList && !domainsStatus[subdomain]">Not Created Yet</p>
                  <p style="color: green" *ngIf="domainsStatus[subdomain] && domainsStatus[subdomain].isverified">{{domainsStatus[subdomain].isverified}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12" style="margin-top: 20px; margin-right: 20px">
          <div class="row">
            <div class="col-md-4">
              <input type="number" class="form-control" id="mailboxesCount" name="mailboxesCount" formControlName="mailboxesCount" placeholder="Mailboxes Count">
            </div>
            <div class="col-md-4">
              <button *ngIf="generatedSubdomains && generatedSubdomains.length" type="submit" class="btn btn-primary">Create Emails</button>
            </div>
            <div class="col-md-4">
              <button style="float: right;" (click)="getYandexDomains()" type="button" class="btn btn-primary">Refresh Status</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-12" style="margin-top: 20px" *ngIf="this.created">
      <p>Progress</p>
      <div class="progress">
        <div class="progress-bar bg-success" [ngStyle]="{'width': ((created/1yandexEmailsForm.value.mailboxesCount)*100)+'%'}">{{created}}</div>
      </div>
    </div>
  </div>
</div>
