<div class="container" *ngIf="loaded">

  <div class="row">
    <div class="col-md-8">
      <h2>Yandex Users Setup</h2>
      <p>You can get PDD Token for each created domain by <a href="https://pddimp.yandex.ru/api2/admin/get_token" target="_blank">Clicking here</a></p>
      <p>please fill PDD Tokens for created Subdomains in the inputs below</p>
    </div>
    <div class="col-md-4">
      <button style="float: right;" (click)="exportExistingUsers()" type="button" class="btn btn-primary">Export Existing Users</button>
    </div>
    <div class="col-md-12">
      <form class="row" [formGroup]="yandexEmailsForm" (ngSubmit)="yandexEmailsSubmit()">
        <div class="col-md-12">
          <div class="row"  style="max-height: 200px; overflow-y: scroll;">
            <div class="col-md-12" *ngFor="let subdomain of generatedSubdomains; let i = index">
              <div class="row">
                <div class="col-md-6">
                  <p>PDD Key for : {{subdomain}}</p>
                </div>
                <div class="col-md-4" *ngIf="true || domainsStatus[subdomain] && !domainsStatus[subdomain].isverified">
                  <input type="text" class="form-control" id="subdomaincount" formControlName="{{subdomain}}" placeholder="PDD Tokens">
                </div>
              </div>
            </div>
          </div>
        </div>
            <button *ngIf="generatedSubdomains && generatedSubdomains.length" type="submit" class="btn btn-primary">Create 1000 Emails</button>
      </form>
    </div>
    <div class="col-md-12" style="margin-top: 20px" *ngIf="this.created">
      <p>Progress</p>
      <div class="progress">
        <div class="progress-bar bg-success" [ngStyle]="{'width': (created/10)+'%'}">{{created}}</div>
      </div>
    </div>
  </div>
</div>
