<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>DNS Managament</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="generatedsnform" (ngSubmit)="generateDNS()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="domainname">Please fill the root Domain Name</label>
            <input type="text" class="form-control" id="domainname" formControlName="domain" placeholder="Root Domain">
          </div>
          <div class="form-group col-md-6">
            <label for="subdomaincount">Enter the number of subdomains you wanna generate</label>
            <input type="number" class="form-control" id="subdomaincount" formControlName="subdomainCount" placeholder="Subdomains Count">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Generate</button>
      </form>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-md-12">
      <h2>Add Subdomain Manually</h2>
    </div>
    <div class="col-md-12">
      <form [formGroup]="manualSubdomainForm" (ngSubmit)="addManuallySubdomain()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="domainname">Fill subdomain name</label>
            <input type="text" class="form-control" id="domainname" formControlName="manualSubdomain">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Subdomain</button>
      </form>
    </div>
  </div>
  <div class="row" *ngIf="generatedSubdomains && generatedSubdomains.length" style="margin: 20px -20px">
    <form class="col-md-12" style="margin-bottom: 20px" [formGroup]="validateDomainsForm" (ngSubmit)="validateDomainsSubmit()">
      <h5>Generated Domains ({{generatedSubdomains.length}})</h5>
      <div class="row" style="max-height: 200px; overflow-y: scroll;">
        <div class="col-md-12" *ngFor="let subdomain of generatedSubdomains; let i = index">
          <div class="row">
            <div class="col-md-6">
              <p>
                {{subdomain}}</p>
              </div>
              <div class="col-md-4" *ngIf="true || domainsStatus[subdomain] && !domainsStatus[subdomain].isverified">
                <input type="text" class="form-control" id="subdomaincount" formControlName="{{subdomain}}" placeholder="Yandex TXT Record">
              </div>
              <div class="col-md-2">
                <p style="color: grey" *ngIf="!domainsStatus[subdomain]">No Data</p>
                <p style="color: red" *ngIf="domainsStatus[subdomain] && !domainsStatus[subdomain].isverified">Not Verified</p>
                <p style="color: green" *ngIf="domainsStatus[subdomain] && domainsStatus[subdomain].isverified">Verified</p>
              </div>
            </div>
          </div>
      </div>
      <div class="row" style="margin-top: 20px">
        <div class="col-md-6">
          <button type="submit" class="btn btn-primary">Verify Domains With Tokens & Set MX Records</button>
        </div>
        <div class="col-md-6">
          <button style="float: right;" (click)="getYandexDomains()" type="button" class="btn btn-primary">Refresh Status</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="row" *ngIf="emailsSetup">
    <div class="col-md-12">
      <h2>Yandex Users Setup</h2>
      <p>You can get PDD Token for each created domain by <a href="https://pddimp.yandex.ru/api2/admin/get_token" target="_blank">Clicking here</a></p>
      <p>please fill PDD Tokens for created Subdomains in the inputs below</p>
    </div>
    <div class="col-md-12">
      <form class="row" style="max-height: 200px; overflow-y: scroll;" [formGroup]="yandexEmailsForm" (ngSubmit)="yandexEmailsSubmit()">
          <div class="col-md-12" *ngFor="let subdomain of generatedSubdomains; let i = index">
            <div class="row">
              <div class="col-md-6">
                <p>PDD Key for : {{subdomain}}</p>
                </div>
                <div class="col-md-4" *ngIf="true || domainsStatus[subdomain] && !domainsStatus[subdomain].isverified">
                  <input type="text" class="form-control" id="subdomaincount" formControlName="{{subdomain}}" placeholder="PDD Tokens">
                </div>
              </div>
            </div>
        <button type="submit" class="btn btn-primary">Create 1000 Emails</button>
      </form>
    </div>
  </div> -->
</div>
